APP_NAME=RevampOfficial
ENVIRONMENT=local

BASE_URL=http://localhost:8000
API_PATH=/api
BACKEND_URL=http://localhost:8000
PERSISTENT_VUEX_MODULES=auth

STRIPE_LIVE_ENVIRONMENT=false
STRIPE_PUBLISHABLE_KEY=
STRIPE_ACCOUNT=
STRIPE_API_VERSION=
STRIPE_LOCALE=en