APP_NAME=TFW
ENVIRONMENT=local

BASE_URL=http://localhost:8000
API_PATH=/api
BACKEND_URL=http://localhost:8000
PERSISTENT_VUEX_MODULES=auth

STRIPE_LIVE_ENVIRONMENT=false
STRIPE_PUBLISHABLE_KEY=pk_test_51LNoA5FR9hiK2RJjERq2vKJY7xWoA9myLK5jXRqGbceMT29DqOW9QkIEA3hC73tDSWlfGgeJrs2YkIu3fgo6qAuB00cYFxm8AC
STRIPE_ACCOUNT=acct_1LNoA5FR9hiK2RJj
STRIPE_API_VERSION=2020-08-27
STRIPE_LOCALE=en

PAYPAL_SANDBOX_ACCOUNT= mailto:sb-cvsqg22321948@business.example.com 
PAYPAL_CLIENT_ID=Aa5VVtxELggqu8DPBZAmGU1WfH0VjOQIHheaHsgbXh-PXia-hTb9XmSpfiJlh8nnPy9bWw19xZNI1qOS

# Default Test Account (Jon)
SQUARE_APPLICATION_ID=sandbox-sq0idb-fOLpoXB6-1xQbZ0Io2SVDQ
SQUARE_LOCATION_ID=LCRYEMYRH46QT

# Sandbox Account 2 (Jon)
# SQUARE_APPLICATION_ID=sandbox-sq0idb-38WiewPRv8zgINwE6wg2jA
# SQUARE_LOCATION_ID=LCRYEMYRH46QT