@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #1A1A1B;
  /* filter: invert(100%); */
}
.transform-fade-down-enter-active,
.transform-fade-down-leave-active {
  @apply transition-all translate-y-0 duration-300;
}

.transform-fade-down-enter, .transform-fade-down-leave-to /* .fade-leave-active below version 2.1.8 */ {
  @apply opacity-0 transform -translate-y-2;
}

.paragraph {
    @apply text-black tracking-wide leading-relaxed;
}

.paragraph-white {
    @apply text-white tracking-wide leading-relaxed;
  }
  
  /* Scrollbar Config */
  ::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
  

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #3e872a;
  border-radius: 5px;
}

/* For Transparent input box on auto fill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.fade-left {
  animation: fadeInSlideAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInSlideAnimation {
  0% {
    opacity: 0;
    transform: translateX(-130px); /* Initial position off the screen to the left */
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* Final position, no translation */
  }
}

.fade-right {
  animation: fadeInSlideAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInSlideAnimation {
  0% {
    opacity: 0;
    transform: translateX(130px); /* Initial position off the screen to the left */
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* Final position, no translation */
  }
}

.fade-up {
  animation: fadeUpSlideAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeUpSlideAnimation {
  0% {
    opacity: 0;
    display: none;
    transform: translateY(130px); /* Initial position off the screen to the left */
  }

  100% {
    opacity: 1;
    display: block;
    transform: translateY(0); /* Final position, no translation */
  }
}

.fade-down {
  animation: fadeDownSlideAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeDownSlideAnimation {
  0% {
    opacity: 1;
    display: block;
    transform: translateY(0); /* Initial position off the screen to the left */
  }

  100% {
    opacity: 0;
    display: none;
    transform: translateY(130px); /* Final position, no translation */
  }
}

input:focus {
  /* Add your custom focus styles here */
  outline: none !important; /* Remove the default focus outline */
  border-color: transparent !important; /* Change border color when focused */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5) !important; /* Add a box shadow when focused */
}

textarea:focus {
  /* Add your custom focus styles here */
  outline: none !important; /* Remove the default focus outline */
  border-color: transparent !important; /* Change border color when focused */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5) !important; /* Add a box shadow when focused */
}

/* For Transparent input box vue components*/
.v-input__slot input {
  background-color: transparent !important;
}

.v-input__slot textarea {
  background-color: transparent !important;
}

.link a{
  color: #5EE738 !important;
  overflow-wrap: break-word;
}

/* textarea{
  background: transparent !important;
} */

/* input[type="text"]{
  background: transparent !important;
}

input[type="number"]{
  background: transparent !important;
}

input[type="tel"]{
  background: transparent !important;
}

input[type="email"]{
  background: transparent !important;
}

input[type="name"]{
  background: transparent !important;
} */

.o-dpck__table__event.o-dpck__table__event--danger.o-dpck__table__event--dots {
  /* Override Oruga's danger color for elements with this specific class */
  background-color: #ea2424 !important; /* Set your desired color here */
}

.o-dpck__table__event.o-dpck__table__event--success.o-dpck__table__event--dots {
  /* Override Oruga's danger color for elements with this specific class */
  background-color: #1fe730 !important; /* Set your desired color here */
}
.green-drop-shadow {
  filter: drop-shadow(0 4px 6px rgb(13, 208, 39)); /* Adjust shadow color and opacity */
}

/* .half-opacity::before {
  content: '';
  position: absolute;
  top: 0;
  left: 5%;
  width: 45%;
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0), #212121);
  transition: opacity 0.5s ease;
  z-index: 1;
}

.half-opacity img {
  width: 50%;
  height: 100%;
  display: block;
} */
